$size__site-main: 100%;
$size__site-sidebar: 25%;
$size__container-large: 960px;
$size__container-medium:90%;
$size__container-small:90%;
$size__wrapper: 960px;
$medium-screen: em(640) !default;
$small-screen: em(380) !default;
$large-screen: 1200px !default;
$grid-item-fourth-columns: 3;
$grid-item-third-columns: 4;
$grid-item-three-eights-columns: 4.5;
$grid-item-half-columns: 6;
$grid-item-two-thirds-columns: 8;
$grid-item-color: white;
$grid-item-height: 14em;

